<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <div class="site-navbar py-4" role="banner">

    <div class="container">
      <div class="d-flex align-items-center">
        <div class="site-logo">
          <a routerLink="index.html">
            <img src="assets/images/logo.png" alt="Logo">
          </a>
        </div>
        <div class="ml-auto">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a  routerLinkActive="active" routerLink="" class="nav-link" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
              <li><a  routerLinkActive="active" routerLink="add-match" class="nav-link">Add Matches</a></li>
              <li><a  routerLinkActive="active" routerLink="match" class="nav-link">Matches</a></li>
              <li><a  routerLinkActive="active" routerLink="add-team" class="nav-link">Add Teams</a></li>
              <li><a  routerLinkActive="active" routerLink="teams" class="nav-link">Teams</a></li>
              <li><a  routerLinkActive="active" routerLink="login" class="nav-link">login</a></li>
              <li><a  routerLinkActive="active" routerLink="contact" class="nav-link">Contact</a></li>
              <li><a  routerLinkActive="active" routerLink="signup" class="nav-link">sign up</a></li>
            </ul>
          </nav>

          <a routerLink="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
              class="icon-menu h3 text-white"></span></a>
        </div>
      </div>
    </div>

</div>