<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-9 mx-auto text-center">
            <div class="container">
    

                <div class="row">
                  <div class="col-lg-12">
                    
                    <div class="d-flex team-vs">
                      <span class="score"><span [ngStyle]="{color:compare(match.ScoreOne,match.ScoreTwo)[1]}">{{match.ScoreOne}}</span> - <span [ngStyle]="{color:compare(match.ScoreTwo,match.ScoreOne)[1]}">{{match.ScoreTwo}}</span></span>
                      <div class="team-1 w-50">
                        <div class="team-details w-100 text-center">
                          <img src="assets/images/logo_1.png" alt="Image" class="img-fluid">
                          <h3><span [ngClass]="{
                            classWin:compare(match.ScoreOne,match.ScoreTwo)[1]=='green',
                            classLose:compare(match.ScoreOne,match.ScoreTwo)[1]=='red',
                            classDraw:compare(match.ScoreOne,match.ScoreTwo)[1]=='yellow'
                          }">{{match.teamOne}}</span> <span >{{compare(match.ScoreOne,match.ScoreTwo)[0]}}</span></h3>
                        </div>
                      </div>
                      <div class="team-2 w-50">
                        <div class="team-details w-100 text-center">
                          <img src="assets/images/logo_2.png" alt="Image" class="img-fluid">
                          <h3 ><span [ngClass]="{
                            classWin:compare(match.ScoreTwo,match.ScoreOne)[1]=='green',
                            classLose:compare(match.ScoreTwo,match.ScoreOne)[1]=='red',
                            classDraw:compare(match.ScoreTwo,match.ScoreOne)[1]=='yellow'
                          }">{{match.teamTwo}}</span> <span >{{compare(match.ScoreTwo,match.ScoreOne)[0]}}</span></h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>    
